<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MEDIS+OCK</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/MediStockTextColor.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @* This is for the mapbox map. *@
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />
    @*This is used for the Geocoding Mapbox API*@
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.2.0/mapbox-glgeocoder.
min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-glgeocoder/
v2.2.0/mapbox-gl-geocoder.css' type='text/css' />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #aca3d2;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Doctor") || User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("MediS+ock", "HomePage", "Home", new { area = "" }, new { @class = "navbar-brand", style = "color:Black" })
                    }
                    else
                    {
                        @Html.ActionLink("MediS+ock", "ViewBooking", "EquipmentBookings", new { area = "" }, new { @class = "navbar-brand", style = "color:Black" })
                    }

                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Home", "HomePage", "Home", null, new { style = "color:#280f55" })</li>
                    }

                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Doctor") || User.IsInRole("Logistic"))
                        {
                            <li>@Html.ActionLink("View Bookings", "../EquipmentBookings/ViewBooking", null, new { style = "color:#280f55" })</li>
                        }

                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: #280f55">
                                    Profile
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("About", "About", "Home", null, new { style = "color:#280f55" })</li>
                                    <li>@Html.ActionLink("Contact", "Contact", "Home", null, new { style = "color:#280f55" })</li>
                                    @if (User.IsInRole("Doctor"))
                                    {
                                        <li>@Html.ActionLink("Rate Us", "Create", "Ratings", null, new { style = "color:#280f55" })</li>
                                    }
                                    <li>@Html.ActionLink("Find us@", "Index", "Locations", null, new { style = "color:#280f55" })</li>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li>@Html.ActionLink("Send Bulk Mails", "SendBulkEmail", "Home", null, new { style = "color: #280f55" })</li>
                                    }
                                </ul>
                            </li>

                        }


                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <footer>
        <p colour:>&copy; @DateTime.Now.Year - MEDIS+OCK</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/bootstrap-datepicker.js" defer></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js" defer></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.js" defer></script>
    <script src="/Scripts/DataTables/dataTables.bootstrap.js" defer></script>
    <script src="~/Scripts/c3.min.js" defer></script>
    <script src="~/Scripts/d3.min.js" defer></script>
    <link href="~/Content/c3.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
</body>
</html>
